:root {
   --text: ;
   --background: ;
}

/******************************************/
* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box ;
  user-select: none ;
}
body {
  color: var(--text);
  background: var(--background);
}
