:root {
   --text: #000 ;
   --background: #ffffff ;
}

@media (prefers-color-scheme: dark) {
    :root {
       --text: #fff ;
       --background: #0f172a ;
    }
}
/******************************************/
* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box ;
  user-select: none ;
}
body {
  color: var(--text);
  background: var(--background);
}
